- model_class = Content
%h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
- @contents.each do |content|
  %div{id: "#{content.id}", class: "span12"}
    %table.table.table-striped
      %thead
        %tr
          %th.content-header{colspan: "2"}
            = content.booth.name
      %tbody
        %tr
          %td.speaker-profile.content-body
            %div.row-fluid
              %div.span4
                = image_tag(content.speaker_image.url, class: "img-rounded")
              %div.span8.speaker-name
                %p
                  %font{size: "5", face: "Hiragino Kaku Gothic Pro"}
                    %b= simple_format content.speaker_name
                %p
                  %a{href: "/events/1/"} 
                    %i.icon-time
                    = l content.start_at, format: :time
                    = '~'
                    = l content.finish_at, format: :time
            %div
              %br=content.speaker_profile
          %td.content-body
            %p
              %font{size: "5"}= content.title
            %p
              %font{size: "3"}= content.description
