%h1 Listing contents

%table
  %tr
    %th Event
    %th Room
    %th Title
    %th Description
    %th Start at
    %th Finish at
    %th Speaker name
    %th Speaker profile
    %th Speaker image
    %th Deleted at
    %th
    %th
    %th

  - @contents.each do |content|
    %tr
      %td= content.event_id
      %td= content.room_id
      %td= content.title
      %td= content.description
      %td= content.start_at
      %td= content.finish_at
      %td= content.speaker_name
      %td= content.speaker_profile
      %td= content.speaker_image
      %td= content.deleted_at
      %td= link_to 'Show', content
      %td= link_to 'Edit', edit_content_path(content)
      %td= link_to 'Destroy', content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Content', new_content_path
