- model_class = Content
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
- @contents.each do |content|
  - @booth = Booth.find(content.booth_id)
  %div{id: "#{content.id}"}
    %table.table.table-striped
      %thead
        %tr
          %th{:colspan => 2}
            = @booth.name
      %tbody
        %tr
          %td{width: "50%"}
            %p
              = content.speaker_name
            %p
              = l content.start_at, format: :time
              = '~'
              = l content.finish_at, format: :time
            %p= content.speaker_profile
          %td{width: "50%"}
            %p= content.title
            %p= content.description
