- model_class = Event
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:upcoming)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:place)
      %th= t "date.name"
      %th= t "time.name"
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @events.each do |event|
      %tr
        %td
          = radio_button :event, "upcoming", event.id, id: event.id, class: "to_button", checked: event.upcoming ? "checked" : ""
          = label :event, event.upcoming ? "○" : "×", for: event.id
        %td= link_to event.title, event_path(event)
        %td= event.place
        %td= l event.start_at, format: :date
        %td
          = l event.start_at, format: :time
          = "〜"
          = l event.finish_at, format: :time
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_event_path(event), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_event_path(event), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_event_path, :class => 'btn btn-mini'
