- model_class = Event
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @event.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @event.description
%p
  %strong= model_class.human_attribute_name(:capacity) + ':'
  %br
  = @event.capacity
%p
  %strong= model_class.human_attribute_name(:place) + ':'
  %br
  = @event.place
%p
  %strong= model_class.human_attribute_name(:start_at) + ':'
  %br
  = @event.start_at
%p
  %strong= model_class.human_attribute_name(:finish_at) + ':'
  %br
  = @event.finish_at
%p
  %strong= model_class.human_attribute_name(:deleted_at) + ':'
  %br
  = @event.deleted_at
%p
  %strong= model_class.human_attribute_name(:upcoming) + ':'
  %br
  = @event.upcoming

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), events_path, :class => 'btn'
