.form-actions
  .message= t("messages.login")
  .message= t("messages.login_password")

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .control-group
    = f.label :code
    .controls
      = f.text_field :code

  .control-group
    = f.label :password
    .controls
      = f.password_field :password

  .control-group.remember_me
    - if devise_mapping.rememberable?
      .remember_me_checkbox= f.check_box :remember_me
      .remember_me_label= f.label :remember_me
  .float_clear

  .form-actions
    = f.submit t("helpers.links.login"), class: "btn"
