- model_class = Content
%table.table
  %tr
    %th= model_class.human_attribute_name(:title)
    %td= content.title
    %th= model_class.human_attribute_name(:booth_id)
    %td= content.booth.name
  %tr
    %th= model_class.human_attribute_name(:start_at)
    %td= l content.start_at
    %th= model_class.human_attribute_name(:finish_at)
    %td= l content.finish_at
  %tr
    %th= model_class.human_attribute_name(:description)
    %td{colspan: "3"}= content.description
  %tr
    %td{colspan: "2", rowspan: "2"}= image_tag content.speaker_image.url(:thumb), class: "img-polaroid"
    %td{colspan: "2"}= content.speaker_name
  %tr
    %td{colspan: "2"}= content.speaker_profile
  %tr
    %td= link_to t("helpers.links.edit"), edit_admin_event_content_path(event_id: @event.id, id: content), class: "btn"
