- model_class = Content
%table.table
  = form_for ['admin', @event, @event.contents.build] do |f|
    %tr
      %th= model_class.human_attribute_name(:title)
      %td= f.text_field :title
    %tr
      %th= model_class.human_attribute_name(:booth_id)
      %td= "ドロップダウンリスト"
    %tr
      %th= model_class.human_attribute_name(:start_at)
      %td= "時間"
    %tr
      %th= model_class.human_attribute_name(:finish_at)
      %td= "時間"
    %tr
      %th= model_class.human_attribute_name(:speaker_image)
      %td= "Image"
    %tr
      %th= model_class.human_attribute_name(:description)
      %td= f.text_area :description
    %tr
      %th= model_class.human_attribute_name(:speaker_name)
      %td= f.text_field :speaker_name
    %tr
      %th= model_class.human_attribute_name(:speaker_profile)
      %td= f.text_field :speaker_profile
    %tr
      %td= f.submit class: "btn"
