- model_class = Content
- @content = @event.contents.find(params[:id])
%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @content.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @content.description
%p
  %strong= '会場' + ':'
  %br
  = @content.booth_id
%p
  %strong= model_class.human_attribute_name(:start_at) + ':'
  %br
  = @content.start_at
%p
  %strong= model_class.human_attribute_name(:finish_at) + ':'
  %br
  = @content.finish_at
%p
  %strong= model_class.human_attribute_name(:speaker_name) + ':'
  %br
  = @content.speaker_name
%p
  %strong= model_class.human_attribute_name(:speaker_profile) + ':'
  %br
  = @content.speaker_profile
%p
  %strong= model_class.human_attribute_name(:speaker_image) + ':'
  %br
  = image_tag @content.speaker_image.url(:thumb)

.form-actions
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_event_content_path(event_id: @content.event_id, id: @content.id), :class => 'btn btn-mini'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_event_content_path(event_id: @content.event_id, id: @content.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
  = link_to t('.back', :default => t("helpers.links.back")), admin_events_path, :class => 'btn'
