- model_class = Content
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:event_id) + ':'
  %br
  = @content.event_id
%p
  %strong= model_class.human_attribute_name(:booth_id) + ':'
  %br
  = @content.booth_id
%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @content.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @content.description
%p
  %strong= model_class.human_attribute_name(:start_at) + ':'
  %br
  = @content.start_at
%p
  %strong= model_class.human_attribute_name(:finish_at) + ':'
  %br
  = @content.finish_at
%p
  %strong= model_class.human_attribute_name(:speaker_name) + ':'
  %br
  = @content.speaker_name
%p
  %strong= model_class.human_attribute_name(:speaker_profile) + ':'
  %br
  = @content.speaker_profile
%p
  %strong= model_class.human_attribute_name(:speaker_image) + ':'
  %br
  = @content.speaker_image
%p
  %strong= model_class.human_attribute_name(:deleted_at) + ':'
  %br
  = @content.deleted_at

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), contents_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_content_path(@content), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), content_path(@content), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
