%div.container-fluid
  - @times.each do |time|
    %div.row-fluid
      %div.span12
        %h2.timezone
          %i.icon-time
          = time.start_at.strftime("%H:%M")
          ～
          = time.finish_at.strftime("%H:%M")
    %div.row-fluid
      - @event.contents.find_all_by_start_at(time.start_at).each do |content|
        %div.span6
          %h3.boothname
            = content.booth.name
            = link_to "参加", insert_and_delete_entries_path(content_id: content.id, user_id: current_user.id), method: :post, :class => 'btn'
          %div.row-fluid.content
            %div.span6.image
              = image_tag(content.speaker_image.url, size:"150x150", class:"image_rounded")
            %div.span6.title
              %h4
                = link_to content.title, event_contents_path(anchor: content.id,event_id: @event.id)
              = simple_format content.speaker_name
