- model_class = Event
.page-header
  - event = @events.first
  %h1=t '.title', :default => event.title
%p.description= event.description
%ul.event-info
  %li
    開催:
    = l event.start_at, format: :date
    = l event.start_at, format: :time
    = "〜"
    = l event.finish_at, format: :time
  %li
    会場：
    = event.place
  %li
    定員：
    = event.capacity
