- model_class = Event

%h1= @event.title
%p.description= @event.description
%ul.event-info
  %li
    開催:
    = l @event.start_at, format: :date
    = l @event.start_at, format: :time
    = "〜"
    = l @event.finish_at, format: :time
  %li
    会場：
    = @event.place
  %li
    定員：
    = @event.capacity

- content_for :time_table do
  = render "time_table"
